/* You can add global styles to this file, and also import other style files */

@import '@fontsource/roboto/index.css';
@import '~material-icons/iconfont/material-icons.css';

body{
  border: none;
  margin: 0;
  padding: 0;
}
