<ng-container *ngIf="accept$ | async as accept; else fetchingAccept" #dialog>
  <h2 mat-dialog-title>Upload a file</h2>

  <mat-dialog-content class="mat-typography">
    <ng-container *ngIf="!uploading; else uploadTemplate">
      <mat-label class="button-label">Select your file</mat-label>

      <button
        mat-icon-button
        (click)="fileInput.click()"
        #tooltip="matTooltip"
        matTooltip="Info about the action"
        matTooltipPosition="right"
      >
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <input
        hidden
        #fileInput
        id="file"
        type="file"
        [accept]="accept"
        (change)="inputFileChanged($event)"
      />

      <div
        class="error-message"
        *ngIf="fileError"
        [innerText]="fileError"
      ></div>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" mat-dialog-close>Back</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!file"
      (click)="uploadFile()"
    >
      Upload
    </button>
  </mat-dialog-actions>
</ng-container>

<ng-template #fetchingAccept>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #uploadTemplate>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
